<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h2>Simple Form</h2>
    <form action="add" method="post" >
        {% csrf_token%}
        <label for="input1">First Input:</label>
        <input type="text" id="input1" name="input1" required><br><br>

        <label for="input2">Second Input:</label>
        <input type="text" id="input2" name="input2" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
